<div class="container">
  <a href="/logout">logout</a><br>
  <a href="/user/edit">edit account</a>
  <h1>User Information</h1>
    <%= @user.name %><br><hr>
    <%= @user.address %><br><hr>
    <%= @user.email %><br><hr>
    <%= @user.phone_number %><br><hr>

    <form action="/user" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class ="button" type="submit" value="DELETE ACCOUNT">

    </form>
</div>
